# Dependencies
node_modules/

# Builds
dist/
build/
coverage/
.vite/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temp
.tmp/
.temp/
*.zip

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Docker
docker-data/

# Prisma
*.db
*.db-journal
