# GENERAL
NODE_ENV=development

# DATABASE
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/monitoring_tfg?schema=public

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379

# API
API_PORT=3000
API_PREFIX=api

# WEB
VITE_API_URL=http://localhost:3000/api

# AUTH
JWT_ACCESS_SECRET=change_this_access_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

# MAIL
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
MAIL_FROM=no-reply@monitoring-tfg.local

# REPORTS
REPORTS_OUTPUT_DIR=./storage/reports

# MONITORING
DEFAULT_TIMEOUT_SECONDS=10
DEFAULT_FREQUENCY_SECONDS=60
INCIDENT_GROUP_WINDOW_SECONDS=90