# 🔐 Base de datos (Supabase)
DATABASE_URL="postgresql://postgres.tciibsthfdxdrdtmtmbm:MoniToring13TFG@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# 👉 Para migraciones (importante con Prisma)
DIRECT_URL="postgresql://postgres.tciibsthfdxdrdtmtmbm:MoniToring13TFG@aws-0-eu-west-1.pooler.supabase.com:5432"

# 🔑 JWT
JWT_SECRET="super_secret_key"

# 🌐 Puerto backend
PORT=3000